{% extends 'common/base.html' %}
{% load url_query_append %}
{% load static %}


{% block content %}
    <div class="page-heading">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 header-text">
                    <h2>Discover what's currently going on at <em>SnapX</em></h2>
                    <p>
                        Showcase your talent by participating in thrilling photography contests! Submit your best shots, 
                        compete with other photographers, and win exciting awards. Explore diverse themes,
                        meet deadlines, and let your creativity shine. Join the community and share your passion
                        for capturing unforgettable moments.
                    </p>
                </div>
                <div class="text-center my-4">
                    <a href="{% url 'contest-add' %}" class="btn btn-primary btn-lg">
                        Add Contest
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="search-form">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <form id="search-form" name="gs" method="submit" role="search">
                        <div class="row">
                            <div class="col-lg-4">
                                <fieldset>
                                    <label for="contest" class="form-label">Search Any Contest</label>
                                    {{ search_form.contest_name }}
                                </fieldset>
                            </div>
                            <div class="col-lg-4">
                                <fieldset>
                                    <label for="category" class="form-label">Pick Category</label>
                                    {{ search_form.category }}
                                </fieldset>
                            </div>
                            <div class="col-lg-2">
                                <fieldset>
                                    <label for="chooseprice" class="form-label">Award Price</label>
                                    {{ search_form.award }}
                                </fieldset>
                            </div>
                            <div class="col-lg-2">
                                <fieldset>
                                    <button class="main-button">Search Now</button>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>



    <section class="contest-win">
        <div class="container-fluid">
            <div class="row">
                {% for contest in object_list %}         
                    <div class="col-lg-3">
                        <div class="contest-item d-flex flex-column justify-content-between" style="width: 100%; height: 100%;">
                            <div class="top-content">
                                <span class="award {% if not contest.is_open %}bg-danger{% endif %}">Award Price</span>
                                <span class="price">${{ contest.award }}</span>
                            </div>
                            {% if contest.photo.first.image.url %}
                                <img src="{{ contest.photo.first.image.url }}" alt="">
                            {% else %}
                                <img src="{% static 'images/icon-01.png' %}" alt="">
                            {% endif %}
                            <h4>{{ contest.name }}</h4>
                            <div class="info">
                                <span class="participants"><img src="{% static 'images/icon-03.png' %}" alt=""><br>
                                    {{ contest.participants }} Participants</span>
                                <span class="submittions"><img src="{% static 'images/icon-01.png' %}"
                                                               alt=""><br>
                                    {{ contest.photo.count }} Submissions</span>
                            </div>
                            <span>Created by:</span>
                            <a href="{% url 'account-details' contest.created_by.pk %}" class="d-flex align-items-center text-decoration-none">
                                <img src="{% if contest.created_by.account.profile_picture %}{{ contest.created_by.account.profile_picture.url }}{% else %}{% static 'images/user-avatar.jpg' %}{% endif %}" alt="" class="rounded-circle me-2" style="width: 40px; height: 40px; object-fit: cover;">
                                <span>{{ contest.created_by.account }}</span>
                            </a>
                            <div class="border-button">
                                <a href="{% url 'contest-details' contest.pk %}">Browse Contest</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <!-- Start Pagination -->
        <div class="pagination">
            <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>

            <span class="step-links-buttons">

                <!-- If there are previous and next photos -->
                {% if page_obj.has_previous and page_obj.has_next %}
                    <a href="?{% url_query_append_tag request 'page' page_obj.previous_page_number %}">
                        <i class="fa fa-arrow-left"></i>
                    </a>
                    <a href="?{% url_query_append_tag request 'page' page_obj.next_page_number %}">
                        <i class="fa fa-arrow-right"></i>
                    </a>

                <!-- If there are only previous photos -->
                {% elif page_obj.has_previous %}
                    <a href="?{% url_query_append_tag request 'page' page_obj.previous_page_number %}">
                        <i class="fa fa-arrow-left"></i>
                    </a>

                <!-- If there are only next photos -->
                {% elif page_obj.has_next %}
                    <a href="?{% url_query_append_tag request 'page' page_obj.next_page_number %}">
                        <i class="fa fa-arrow-right"></i>
                    </a>
                {% endif %}

            </span>
        </div>
        <!-- End Pagination -->
    </section>

{% endblock %}