{% extends 'common/base.html' %}
{% load static %}


{% block content %}

    <div class="page-heading">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 header-text">
                    <h2 class="space-need">{{ object.name }} <em>Contest</em></h2>
                </div>
            </div>
        </div>
    </div>

    <div class="contest-details">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="top-content">
                        <div class="row">
                            <div class="col-lg-4">
                                {% if object.is_open %}
                                    <span class="open">Open Contest</span>
                                {% else %}
                                    <span class="close">Closed Contest</span>
                                {% endif %}
                                {% if request.user == object.created_by %}
                                    <a href="{% url 'contest-delete' object.pk %}" class="btn btn-danger">Delete</a>
                                {% endif %}
                            </div>
                            <div class="col-lg-8">
                                <ul>
                                    <li><i class="fa fa-medal"></i> <span>Award:</span> $ {{ object.award }}</li>
                                    <li><span>Time left:</span> {{ object.deadline|timeuntil }}</li>
                                    <li><span>Participants:</span> {{ object.participants }}</li>
                                    <li><span>Submittions:</span> {{ object.photo.count }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="main-content">
                        <h4>Requirements Of The Contest</h4>
                        <h6>Picture Should Have</h6>
                        <p>{{ object.requirements }}</p>
                        {% if object.is_open %}
                            <div class="main-button">
                                <a href="{% url 'photo-add' %}?current_contest={{ contest }}">Submit Your Photo</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if photos %}
        <div class="container mt-4">
        <h1 class="text-center">{{ object.name }} Gallery</h1>
        <div class="row g-4">
            <!-- Gallery Photos -->
            {% for photo in photos %}
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="card shadow-sm" style="width: 100%; height: 100%;">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#photoModal">
                            <img 
                                class="card-img-top img-fluid modal-trigger" 
                                src="{{ photo.image.url }}" 
                                alt="{{ photo.title }}">
                        </a>
                        <div class="card-body">
                            <p class="card-text">{{ photo.title }}</p>
                        </div>
                        <p class="card-text">
                            Votes: 
                            <span id="vote-count-{{ photo.id }}">
                                {{ photo.vote }}
                            </span>
                        </p>
                        {% if contest.is_open %}
                            <button class="btn btn-primary vote-button" data-photo-id="{{ photo.id }}">
                                <i class="fa-solid fa-thumbs-up"></i> Vote
                            </button>
                        {% endif %}
                    </div>
                </div>
        {% endfor %}
        </div>

        <!-- Pagination -->
        <nav class="mt-4">
            <ul class="pagination flex-row justify-content-center">
                {% if photos.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ photos.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link" aria-hidden="true">&laquo;</span>
                    </li>
                {% endif %}

                {% for num in photos.paginator.page_range %}
                    <li class="page-item {% if photos.number == num %}active{% endif %}">
                        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                    </li>
                {% endfor %}

                {% if photos.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ photos.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link" aria-hidden="true">&raquo;</span>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
</div>
    
    
<!-- Modal -->
<div class="modal fade" id="photoModal" tabindex="-1" aria-labelledby="photoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="photoModalLabel">Photo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <img id="modalImage" class="img-fluid" src="" alt="Photo">
            </div>
        </div>
    </div>
</div>

{% endblock %}