{% extends 'common/base.html' %}

{% block content %}
    <section class="account_delete">
        <div>
            <h2>Are you sure?</h2>
            <p>
                Deleting your account is irreversible. All your data will be permanently removed.
            </p>
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Delete Account</button>
            </form>
            <a href="{% url 'account-details' request.user.pk %}">Cancel</a>
        </div>
    </section>

{% endblock %}