{% extends 'common/base.html' %}
{% load static %}
{% load url_query_append %}

{% block content %}
    <div class="page-heading">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 header-text">
                    <h2>Discover Categories on <em>SnapX</em></h2>
                    <p>Welcome to the Categories page! Explore a variety of themes like Nature, Urban Life, and
                        Portraits, each designed to showcase your unique photography style. Choose a category, submit
                        your best shot, and compete with talented photographers. Let your creativity shine!</p>
                </div>
            </div>
        </div>
        {% if request.user.is_staff %}
            <div>
                <p>You are admin and can add a Category by clicking button bellow.</p>
                <a href="{% url 'category-add' %}" class="btn btn-primary">Add Category</a>
            </div>
        {% endif %}
    </div>



    <div class="top-categories">
        <div class="container">
            <div class="row">
                {% for category in object_list %}
                    <div class="col-lg col-sm-4">
                        <div class="item">
                            <div class="icon">
                                {% if category.category_image %}
                                    <img src="{{ category.category_image.url }}" alt="">
                                {% else %}
                                    <img src="{% static 'images/icon-01.png' %}" alt="">
                                {% endif %}
                            </div>
                            <h4>{{ category.name }}</h4>
                            <p class="cat-desc">{{ category.description }}</p>
                            <span>Available Contests</span>
                            <span class="counter">{{ category.contests_open }}</span>
                            {% if request.user.is_staff %}
                                <div class="d-flex gap-2">
                                    <a href="{% url 'category-edit' category.pk %}" class="btn btn-primary w-50 text-center">Edit</a>
                                    <a href="{% url 'category-delete' category.pk %}" class="btn btn-danger w-50 text-center">Delete</a>
                                </div>
                            {% endif %}
                             <div class="main-button text-center mt-2">
                                <a href="{% url 'contest-dashboard' %}?category={{ category.pk }}">Browse Category</a>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <div class="col-lg col-sm-4">
                        <div class="item">
                            <div class="icon">
                                <img src="{% static 'images/icon-01.png' %}" alt="">
                            </div>
                            <h4>No category has created yet!!!</h4>
                        </div>
                    </div>
                {% endfor %}

            </div>
            <!-- Start Pagination -->
            <div class="pagination">
                <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span>

                <span class="step-links-buttons">

                    <!-- If there are previous and next photos -->
                    {% if page_obj.has_previous and page_obj.has_next %}
                        <a href="?{% url_query_append_tag request 'page' page_obj.previous_page_number %}">
                            <i class="fa fa-arrow-left"></i>
                        </a>
                        <a href="?{% url_query_append_tag request 'page' page_obj.next_page_number %}">
                            <i class="fa fa-arrow-right"></i>
                        </a>

                    <!-- If there are only previous photos -->
                    {% elif page_obj.has_previous %}
                        <a href="?{% url_query_append_tag request 'page' page_obj.previous_page_number %}">
                            <i class="fa fa-arrow-left"></i>
                        </a>

                    <!-- If there are only next photos -->
                    {% elif page_obj.has_next %}
                        <a href="?{% url_query_append_tag request 'page' page_obj.next_page_number %}">
                            <i class="fa fa-arrow-right"></i>
                        </a>
                    {% endif %}

                </span>
            </div>
            <!-- End Pagination -->

        </div>
    </div>
{% endblock %}
      