{% extends 'common/base.html' %}
{% load static %}

{% block content %}
    <!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="header-text">
                        <h2>Enter a world of <em>Photos</em> &amp; Amazing <em>Awards</em></h2>
                        <p>We're thrilled to have you join our creative community! Whether you're a professional
                            photographer or a passionate hobbyist, this is the place to showcase your talent, connect
                            with others, and stand a chance to win exciting prizes.
                        </p>
                        <div class="buttons">
                            <div class="big-border-button">
                                <a href="{% url 'contest-dashboard' %}">Explore SnapX Contest</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->


    <section class="featured-items" id="featured-items">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="owl-features owl-carousel" style="position: relative; z-index: 5;">
                        {% for contest in contest_list %}
                            {% if contest.photo.first %}
                                <div class="item">
                                    <div class="thumb">
                                        <img src="{{ contest.photo.first.image.url }}" alt="">
                                        <div class="hover-effect">
                                            <div class="content">
                                                <h4>{{ contest.name }}</h4>
                                                <ul>
                                                    <li><span>Contest Winner:</span> {{ contest.photo.first.uploaded_by.account }}</li>
                                                    <li><span>Contest Author:</span> {{ contest.created_by.account }}</li>
                                                    <li><span>Award:</span> $ {{ contest.award }}</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% empty %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
