{% extends 'common/base.html' %}
{% block content %}
    <div class="container error-container animate__animated animate__fadeIn d-flex flex-column align-items-center justify-content-center vh-100 text-center">
        <div class="error-icon animate__animated animate__heartBeat animate__delay-1s">
            <i class="bi bi-shield-exclamation"></i>
        </div>
        <h1 class="error-message animate__animated animate__fadeInDown text-danger">403 - Forbidden</h1>
        <p class="error-description animate__animated animate__fadeInUp">You don't have permission to access this page.</p>
        <a href="{% url 'index' %}" class="btn btn-primary animate__animated animate__fadeInUp animate__delay-2s">Go to Home</a>
    </div>
{% endblock %}

